* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Shrikhand", cursive, sans-serif;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
a .fa-utensils {
  font-size: 12px;
  padding-right: 12px;
}
a .fa-handshake-angle {
  padding-right: 10px;
  font-size: 10px;
}
a .fa-arrow-left {
  color: #353535;
}

ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

h1.logo {
  align-items: center;
  font-family: Shrikhand;
  font-weight: 700;
  color: black;
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 40px;
  margin: 15px 0;
}
h1.logo.footer {
  margin: 0;
  font-size: 15px;
  width: 20%;
  padding: 7px 0;
  color: #FFFFFF;
  font-weight: 300;
}
@media screen and (max-width: 480px) {
  h1.logo {
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
  h1.logo.footer {
    margin: 0;
    text-align: start;
    font-size: 16px;
    width: 100%;
    padding: 7px 0;
  }
}

h1.explorer__title {
  font-size: 20px;
  text-align: center;
  width: 70%;
}

p.explorer__txt {
  text-align: center;
  font-size: 16px;
  margin: 0px 2px 20px;
  font-weight: 300;
  width: 90%;
}

h2 {
  font-size: 18px;
  margin: 0px 30px 15px;
  font-weight: 600;
  min-width: 100%;
}

h3 {
  font-size: 13px;
  font-weight: 600;
}

.meals {
  display: flex;
  flex-direction: column;
  top: -26px;
  position: relative;
  width: 100%;
  border-radius: 35px 35px 0 0;
  border: 1px solid white;
  background: rgb(246, 246, 246);
  padding: 28px 0 0 0;
}
.meals h1 {
  font-size: 25px;
  font-family: "Shrikhand";
  margin: 0 20px;
  font-weight: 500;
}
.meals .meals-title {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 20px 6px;
}
.meals .meals-list {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px;
}
.meals .meals-list .meals-items {
  width: 90%;
  margin: 10px auto;
  padding: 10px 10px 5px 0px;
  background: white;
  border-radius: 10px;
  min-height: 50px;
  cursor: pointer;
  box-shadow: 1px 4px 15px 1px rgba(0, 0, 0, 0.2);
}
.meals .meals-list h2 {
  font-size: 14px;
  margin: 0 0 5px 20px;
  text-transform: uppercase;
  font-weight: 400;
}
.meals .meals-list .underline {
  height: 3px;
  width: 10%;
  border: solid 2px #99E2D0;
  margin: 0 0 5px 20px;
}
.meals .meals-list h3 {
  text-align: start;
  font-size: 14px;
  padding: 0 10px;
}
.meals .meals-list h4 {
  font-size: 12px;
  font-weight: 400;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.meals .meals-list p {
  font-size: 12px;
  font-weight: 700;
  padding: 0 10px;
}
.meals .meals-list .meals-infos {
  display: flex;
  justify-content: space-between;
}
.meals .meals-list .meals-check {
  display: none;
  position: relative;
  bottom: 10px;
}

.fa-heart {
  position: relative;
  color: black;
  background-image: white;
  font-size: 20px;
}
.fa-heart::before {
  content: "\f004";
}
.fa-heart:hover::before {
  animation-name: heart-animation;
  animation-duration: 400ms;
  font-weight: bold;
  background-image: linear-gradient(to top left, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes heart-animation {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.btn.gradient {
  color: white;
  font-weight: 500;
  background: linear-gradient(175deg, #FF79DA 15%, #9356DC 100%);
  border: none;
  border-radius: 40px;
  height: 35px;
  font-size: 12px;
  padding: 10px 12px;
  cursor: pointer;
  box-shadow: 1px 4px 15px 1px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}
.btn.gradient.menu {
  width: 45%;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 234, 234);
  height: 45px;
  box-shadow: inset 0px 1px 1px 0px hsla(0deg, 0%, 77%, 0.86);
}
.search-bar form {
  text-align: center;
}
.search-bar input[type=search] {
  border: none;
  font-weight: 500;
  background-color: transparent;
  height: 30px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .search-bar {
    height: 34px;
  }
  .search-bar span.search-bar__icon {
    font-size: 13px;
  }
  .search-bar input[type=search] {
    font-size: 12px;
    width: 70%;
  }
}

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 195px;
  margin: 0 0 30px 0px;
  background: rgb(246, 246, 246);
}
@media screen and (max-width: 480px) {
  .explorer {
    display: flex;
    align-items: center;
    align-content: center;
  }
}

.ftng {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 0 50px 0;
}
.ftng__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ftng__btn {
  display: flex;
  align-items: center;
  position: relative;
  width: 85%;
  height: 55px;
  margin: 0 0 12px;
  border: none;
  border-radius: 15px;
  background: rgb(246, 246, 246);
  box-shadow: 2px 4px 7px -4px grey;
}
.ftng__btn:hover {
  background: rgb(245, 237, 255);
}
.ftng__btn:hover span.ftng__icons {
  color: #9356DC;
}
.ftng__btn p {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  margin: 0 0 0 30px;
}
.ftng__btn span.ftng__icons {
  margin: 0 0 0 30px;
  color: rgb(151, 151, 151);
}
.ftng__number {
  position: absolute;
  left: -9px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: white;
  border: solid 3px #9356DC;
  background: #9356DC;
  min-height: 20px;
  min-width: 20px;
  border-radius: 50%;
}

.restaurants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: none;
  margin: 10px auto;
  border-radius: 15px;
  box-shadow: 2px 4px 7px -4px grey;
}
.restaurants__cards__img {
  position: relative;
  width: 100%;
  height: 130px;
  border-radius: 15px 15px 0 0;
}
.restaurants__cards__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.restaurants__cards__img .new-tag {
  position: absolute;
  top: 8px;
  right: 16px;
  background: #99E2D0;
  font-size: 11px;
  padding: 3px 6px;
  font-weight: 500;
  border-radius: 2px;
}
.restaurants__cards__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin: 0 10px;
}
.restaurants__cards__body--text {
  padding: 5px 10px;
  height: 45px;
}
.restaurants__cards__body p {
  font-size: 13px;
  margin: 3px 0;
}
@media screen and (max-width: 480px) {
  .restaurants {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .restaurants__cards {
    width: 85%;
  }
  .restaurants__body {
    flex-direction: column;
  }
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: #353535;
  color: white;
  padding: 15px 20px;
  font-weight: 500;
  margin: 50px 0 0 0;
}
footer ul {
  display: flex;
  flex-direction: row;
}
footer ul li {
  margin: 0 15px;
  font-size: 16px;
  font-weight: 400;
}
footer a {
  color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    padding: 15px 35px 31px;
  }
  footer ul {
    flex-direction: column;
    justify-content: flex-start;
  }
  footer ul li {
    margin: 0;
    padding: 4px 0 0 0;
    font-size: 15px;
  }
}

header.menu {
  display: flex;
  align-items: center;
  text-align: right;
}
header.menu h1 {
  width: 80%;
}
header.menu .return {
  width: 20%;
  text-align: right;
}
header.menu .fa-arrow-left {
  font-size: 15px;
}

.background-img {
  width: 100%;
  height: 200px;
}
.background-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
