a {
    text-decoration: none;
    color: black;
    // Icones du footer
    .fa-utensils { 
        font-size: 12px;
        padding-right: 12px;
    }
    .fa-handshake-angle {
        padding-right: 10px;
        font-size: 10px;
    }
    // Icones Header Menus
    .fa-arrow-left {
        color: $background-dark-grey;
    }
}

// Footer
ul {
    list-style-type: none;
    width: 100%;
    padding:0;
}

h1.logo { 
    align-items: center;
    font-family: Shrikhand;
    font-weight: 700;
    color: $color-logo;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 40px;
    margin: 15px 0;
    // Footer
        &.footer { 
    margin: 0;
    font-size: 15px;
    width: 20%;
    padding: 7px 0;
    color: #FFFFFF;
    font-weight: 300;
        }
    @include mobile-only {
        width:100%;
        font-size: 30px;
        text-align: center;
            &.footer {
                margin: 0;
                text-align:start;
                font-size: 16px;
                width: 100%;
                padding: 7px 0;
            }
    }
}  

h1.explorer__title {
    font-size: 20px;
    text-align: center;
    width: 70%;
}

p.explorer__txt {
        text-align: center;
        font-size: 16px;
        margin: 0px 2px 20px;
        font-weight: 300;
        width: 90%;
}

h2 {
    font-size: 18px;
    margin: 0px 14px 15px;
    font-weight: 600;
}

h3 {
    font-size: 15px;
    font-weight: 600;
    padding: 5px 0 0 5px;
}

// Menus

.meals {
    @include section-meals;
    h1 {
        @include heading-menu;
    }

    .meals-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 5px 5px 6px;
        align-items: center;
    }

    .meals-list {
        display: flex;
        flex-direction: column;
        margin: 0 0 15px;
        align-items: center;
        h2 {
            font-size: 14px;
            margin: 20px 0 5px 12px;
            text-transform: uppercase;
            font-weight: 400;
            align-self: flex-start;
        }
        .underline {
            width: 30px;
            border: solid 2px #99E2D0;
            margin: 0 0 8px 12px;
            align-self: flex-start;
        }
            .meals-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 95%;
                .meals-items {
                    display: flex;
                    width: 100%;
                    background: white;
                    border-radius: 10px;
                    cursor: pointer;
                    box-shadow: 1px 0px 7px 1px rgb(0 0 0 / 12%);
                    justify-content: space-between;
                    align-items: center;
                    margin: 6px;
                    overflow: hidden;
                    
                    h3 {
                        text-align: start;
                        font-size: 13px;
                        @include text-ellipsis;
                        padding: 0;
                    }
                    h4 {
                        font-size: 12px;
                        font-weight: 400;
                        @include text-ellipsis;
                    }
                    p {
                        font-size: 12px;
                        font-weight: 700;
                    }
                    .meals-name {
                        display: flex;
                        flex-direction: column;
                        padding: 0 0 0 8px;
                        @include text-ellipsis;
                    }
                    .meals-metadata {
                        display: flex;
                        transform: translateX(50px);
                    }
                    .meals-price {
                        display: flex;
                        align-items: flex-end;
                        padding: 10px;
                    }
                }  
            }
            @include mobile-only {
                .meals-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 95%;
                    .meals-items {
                        margin: 6px 0px;
                    }
                }         
            }
    }
}
