a {
    text-decoration: none;
    color: black;
    // Icones du footer
    .fa-utensils { 
        font-size: 12px;
        padding-right: 12px;
    }
    .fa-handshake-angle {
        padding-right: 10px;
        font-size: 10px;
    }
    // Icones Header Menus
    .fa-arrow-left {
        color: $background-dark-grey;
    }
}

// Footer
ul {
    list-style-type: none;
    width: 100%;
    padding:0;
}

h1.logo { 
    // display: flex;
    // justify-content: center;
    align-items: center;
    font-family: Shrikhand;
    font-weight: 700;
    color: $color-logo;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 40px;
    margin: 15px 0;
    // Footer
        &.footer { 
    margin: 0;
    font-size: 15px;
    width: 20%;
    padding: 7px 0;
    color: #FFFFFF;
    font-weight: 300;
        }
    @include mobile-only {
        width:100%;
        font-size: 30px;
        // justify-content: center;
        // flex-direction: row;
        text-align: center;
            &.footer {
                margin: 0;
                text-align:start;
                font-size: 16px;
                width: 100%;
                padding: 7px 0;
            }
    }
}  

h1.explorer__title {
    font-size: 20px;
    text-align: center;
    width: 70%;
}

p.explorer__txt {
        text-align: center;
        font-size: 16px;
        margin: 0px 2px 20px;
        font-weight: 300;
        width: 90%;
}

h2 {
    font-size: 18px;
    margin: 0px 30px 15px;
    font-weight: 600;
}

h3 {
    font-size: 15px;
    font-weight: 600;
    padding: 5px 0 0 5px;
}

// Menus

.meals {
    @include section-meals;
    h1 {
        @include heading-menu;
    }

    .meals-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 5px 5px 6px;
        align-items: center;
    }

    .meals-list {
        display: flex;
        flex-direction: column;
        margin: 0 0 15px;
        align-items: center;
            .meals-items {
                display: flex;
                width: 90%;
                background: white;
                border-radius: 10px;
                min-height: 50px;
                cursor: pointer;
                box-shadow: 1px 0px 7px 1px rgb(0 0 0 / 12%);
                justify-content: space-between;
                align-items: center;
                margin: 6px 0;
                // &::hover {
                //     box-shadow: 1px 0px 7px 7px rgb(0 0 0 / 19%);
                // }
            }
            h2 {
                font-size: 14px;
                margin: 20px 0 5px 20px;
                text-transform: uppercase;
                font-weight: 400;
                align-self: flex-start;
            }
            .underline {
                height: 3px;
                width: 10%;
                border: solid 2px #99E2D0;
                margin: 0 0 8px 20px;
                align-self: flex-start;
            }
            h3 {
                text-align: start;
                font-size: 13px;
                padding: 0 10px;
                // @include text-ellipsis;
            }
            h4 {
                font-size: 12px;
                font-weight: 400;
                padding: 0 10px;
                @include text-ellipsis;
            }
            p {
                font-size: 12px;
                font-weight: 700;
            }
            .meals-name {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 65%;
            }
            .meals-price {
                width: 5%;
                position: relative;
                top: 10px;
                margin-right: 20px;
            }
            .meals-check {
                display: none;
                position: relative;
                width: 50px;
                background-color: $color-tertiary;
                border-radius: 0 10px 10px 0;
                min-height: 50px;
                .fa-circle-check {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    color: #FFFFFF;
                }
            }
    }
}
