$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$heart-start:white;
$heart-end:linear-gradient(to top left, #FF79DA 0%, #9356DC 100%);

$background-lightgrey:rgb(234, 234, 234);
$background-lighter-grey:rgb(246, 246, 246);
$background-dark-grey:#353535;
$background-gradient:linear-gradient(175deg, #FF79DA 15%, #9356DC 100%);
$background-items:white;

$color-logo:  black; 

$box-shadow:1px 4px 15px 1px rgb(0 0 0 / 20%);

$breakpoints: ("mobile": "480px","tablet": "768px");