$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$background-lightgrey:rgb(234, 234, 234);
$background-lighter-grey:rgb(246, 246, 246);
$background-dark-grey:#353535;

$color-logo:  black;

$breakpoints: ("mobile": "480px","tablet": "768px");