header.menu {
    display: flex;
    align-items: center;
    text-align: right;
    h1 {
        width: 80%;
    }
    .return {
        width: 20%;
        text-align: right;
    }
    .fa-arrow-left {
        font-size: 15px;
    }

}


.background-img {
    @include dim-img-background;
    img {
        @include dim-img-background;
        object-fit: cover;
    }
}



