header.menu {
    display: flex;
    align-items: center;
    text-align: right;
    h1 {
        width: 70%;
    }
    .return {
        width: 15%;
        text-align: right;
    }
    .fa-arrow-left {
        font-size: 20px;
        color: $color-logo;
    }

}





