header .fa-arrow-left {
    font-size: 18px;
    position: relative;
    left: -45px;
}

.background-img {
    @include dim-img-background;
    img {
        @include dim-img-background;
        object-fit: cover;
    }
}



